body {background-color: #000000;}

#nav-table {width: 800px;}

#nav-td {width: 200px; text-align:center;}

https://image.shutterstock.com/image-photo/cosmic-art-science-fiction-wallpaper-260nw-545652583.jpg
